In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df1 = pd.read_csv("https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv")
df1

nan_counts = df1.isna().sum()
column_with_max_nans = nan_counts.idxmax()
column_with_max_nans

'body'

In [6]:
df2 = pd.read_csv("materials/Iris.csv")

In [13]:
df2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
sepal_length = df2["SepalLengthCm"].tolist()
petal_length = df2["PetalLengthCm"].tolist()

index_list = []
for i in range(len(sepal_length)):
    if sepal_length[i] >= 4.5 and sepal_length[i] <= 10:
        index_list.append(i)

pl_values = []
for i in index_list:
    pl_values.append(petal_length[i])

result = sum(pl_values) / len(pl_values)
result

3.826712328767126

In [121]:
df_red = pd.read_csv("materials/winequality-red.csv")
np_red = df_red.to_numpy()
columns_messy = 'fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"'
columns_list = columns_messy.replace('"', '').replace(' ', '_').lower().split(';')
df_red_new - pd.DataFrame()

red_all_values_list = df_red.loc[:, :].values.tolist()
red_new_values_list = []
for el in red_all_values_list:
    string_list_el = el[0].replace("'", "").split(";")
    int_list_el = list(map(float, string_list_el))
    red_new_values_list.append(int_list_el)

red_np_new_values = np.array(red_new_values_list).T

red_avg_quality = sum(red_np_new_values[11]) / len(red_np_new_values[11])
red_avg_quality

5.6360225140712945

In [128]:
df_white = pd.read_csv("materials/winequality-white.csv")
np_white = df_white.to_numpy()
columns_messy = 'fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"'
columns_list = columns_messy.replace('"', '').replace(' ', '_').lower().split(';')

white_all_values_list = df_white.loc[:, :].values.tolist()
white_new_values_list = []
for el in white_all_values_list:
    string_list_el = el[0].replace("'", "").split(";")
    int_list_el = list(map(float, string_list_el))
    white_new_values_list.append(int_list_el)

white_np_new_values = np.array(white_new_values_list).T

white_avg_quality = sum(white_np_new_values[11]) / len(white_np_new_values[11])
white_avg_quality

5.87790935075541

In [133]:
red_ratio_alcohol_quality_list = []
counter = 0

for el in red_np_new_values[10]:
    ratio = el / red_np_new_values[11][counter]
    counter += 1
    red_ratio_alcohol_quality_list.append(ratio)

red_avg_ratio_alcohol_quality = sum(red_ratio_alcohol_quality_list) / len(red_ratio_alcohol_quality_list)
red_avg_ratio_alcohol_quality

1.8767855405660325

In [134]:
white_ratio_alcohol_quality_list = []
counter = 0

for el in white_np_new_values[10]:
    ratio = el / white_np_new_values[11][counter]
    counter += 1
    white_ratio_alcohol_quality_list.append(ratio)

white_avg_ratio_alcohol_quality = sum(white_ratio_alcohol_quality_list) / len(white_ratio_alcohol_quality_list)
white_avg_ratio_alcohol_quality

1.8181915780331503